### This is an example configuration file for a MMB V1.0 board.
### Ensure you verify ALL pins below before using
### You must configure the respoolers for your specific board

[mcu AFC]
canbus_uuid: 41f529e17f5b             #  Replace with YOUR canbus_uuid

[force_move]
enable_force_move: True

[temperature_sensor AFC]
sensor_type: temperature_mcu
sensor_mcu: AFC

[AFC_stepper leg1]
extruder: extruder
step_pin: AFC:PB15
dir_pin: AFC:PB14
enable_pin: !AFC:PA8
microsteps: 16
rotation_distance: 4.75
hub_dist: 100
led_index: AFC_Indicator:1
#afc_motor_rwd: AFC:PB2                   # This is the Lane E-Spooler N20 Motor
prep: !AFC:PA3                        # This is the Lane Trigger Sensor
load: AFC:PC15                        # This is the Lane Extruder Sensor

[tmc2209 AFC_stepper leg1]
uart_pin: AFC:PA10
uart_address: 0
run_current: .8
hold_current: 0.4

[AFC_stepper leg2]
extruder: extruder
step_pin: AFC:PD2
dir_pin: AFC:PB13
enable_pin: !AFC:PD1
microsteps: 16
rotation_distance: 4.75
hub_dist: 100
led_index: AFC_Indicator:2
#afc_motor_rwd: AFC:PB2                 # This is the Lane E-Spooler N20 Motor
prep: !AFC:PA4                      # This is the Lane Trigger Sensor
load: AFC:PC13                      # This is the Lane Extruder Sensor

[tmc2209 AFC_stepper leg2]
uart_pin: AFC:PC7
uart_address: 0
run_current: .8
hold_current: 0.4

[AFC_stepper leg3]
extruder: extruder
step_pin: AFC:PD0
dir_pin: AFC:PD3
enable_pin: !AFC:PA15
microsteps: 16
rotation_distance: 4.75
hub_dist: 100
led_index: AFC_Indicator:3
afc_motor_rwd: AFC:PB2                  # This is the Lane E-Spooler N20 Motor
prep: !AFC:PB9                      # This is the Lane Trigger Sensor
load: AFC:PC14                      # This is the Lane Extruder Sensor

[tmc2209 AFC_stepper leg3]
uart_pin: AFC:PC6
uart_address: 0
run_current: .8
hold_current: 0.4

[AFC_stepper leg4]
extruder: extruder
step_pin: AFC:PB6
dir_pin: AFC:PB7
enable_pin: !AFC:PB5
microsteps: 16
rotation_distance: 4.75
hub_dist: 100
led_index: AFC_Indicator:4
afc_motor_rwd: AFC:PA0                  # This is the Lane E-Spooler N20 Motor
pwm: True
prep: !AFC:PA8                      # This is the Lane Trigger Sensor
load: AFC:PB12                      # This is the Lane Extruder Sensor

[tmc2209 AFC_stepper leg4]
uart_pin: AFC:PA9
uart_address: 0
run_current: .8
hold_current: 0.4

[filament_switch_sensor tool]
switch_pin: Tool:PB8                # <- Validate this information
pause_on_runout: False

[filament_switch_sensor hub]
switch_pin: AFC:PB11                # Used when installing the 4-to-1 Rear Skirt
pause_on_runout: False

[AFC_led AFC_Indicator]
pin: AFC:PA2                        # BTT MMB RGB Port *** NOTE: This port has a different pinout that all others ***
chain_count: 4
#color_order: RGBW                  # Validate the order based on your LEDs.

initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 1.0

# if equipped with buffer           # Uncomment if installing Turtle Neck Buffer
#[AFC_buffer neck]
#pin: PC15                          # Enter pin used on your specific controller
#distance: 30
#velocity: 1000
#accel: 1000


