[force_move]
enable_force_move: True

[AFC_extruder extruder]
pin_tool_start: enter_tool_pin
#pin_tool_end: None
tool_stn: 72                    # Distance in mm from the toolhead sensor to the tip of the nozzle in mm, if `tool_end` is defined then distance is from this sensor
tool_stn_unload: 100            # Distance to move in mm while unloading toolhead
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amout to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 25             # Load speed in mm/s when unloading toolhead. Default is 25mm/s.

#[filament_switch_sensor bypass]
#switch_pin: turtleneck:PB5
#pause_on_runout: False

